/* 
css references:
- navbar/mobile-menu: https://youtu.be/oLgtucwjVII?feature=shared 
- image gallery: https://youtu.be/Trw_9lisYVY?feature=shared
- 
*/

@import url("https://use.typekit.net/sxt3pwj.css");

:root{
    --color-nav: transparent;
    --color-nav-mobile: white;
    --color-text: black;
    --color-accent: #F08000;

    --nav-font-size: 20px;
    --h1-font-size: 55px;
    --h2-font-size: 45px;

    --default-font: "HelveticaNeue-Regular", sans-serif;
    --nav-btn-font: "HelveticaNeue-Thin", sans-serif;
    /* --h1-highlight-font: "pf-pixelscript", sans-serif; */
    /* --h1-highlight-font: "Bodoni 72", serif; */
    --h1-highlight-font: "Times New Roman", serif;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: var(--default-font);
    display: flex;
    flex-direction: column;
}

/* ---- NAV BAR SECTION START ---- */
nav {
    background: var(--color-nav);
    height: 80px;
    width: 100%;
    z-index: 1;
    position: fixed;
}

a.logo {
    color: var(--color-text);
    font-size: var(--nav-font-size);
    line-height: 80px;
    margin-left: 50px;
    text-transform: uppercase;
}

nav ul {
    float: right;
    margin-right: 50px;
}

nav ul label {
    display: none;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    font-family: var(--nav-btn-font);
    color: var(--color-text);
    font-size: var(--nav-font-size);
}

nav a.active {
    color: var(--color-accent);
}

nav a:hover {
    color: var(--color-accent);
    transition: 0.25s;
}

.check-btn {
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 650px) {
    .check-btn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 30%;
        background: var(--color-nav-mobile);
        top: -100%;
        left: 0;
        text-align: left;
        padding: 0 50px;
        transition: ease-out 0.5s;
    }
    nav ul label {
        display: none;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 0px;
    }
    #check:checked ~ ul {
        top: 60px;
    }
}
/* ---- NAV BAR SECTION ---- */

/* ---- FOOTER SECTION START ---- */
#about-footer {
    position: fixed;
}

#about-footer .footer-links a {
    color: white;
}

footer {
    margin: auto;
    height: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--color-nav);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-links {
    margin-left: 50px;
    line-height: 30px;
}

.footer-copyright {
    margin-right: 50px;
    line-height: 30px;
}

.footer-links a, .footer-copyright p {
    font-size: 15px;
    font-family: var(--nav-btn-font);
    color: black;
}

.footer-links a {
    padding-right: 20px;
}

.footer-links a:hover {
    color: var(--color-accent);
    transition: 0.25s;
}

/* ! make mobile screen more responsive */
@media (max-width: 650px) {
    .footer-links a, .footer-copyright p {
        font-size: 8px;
    }
    .footer-links a {
        padding-right: 0px;
    }
}
/* ---- FOOTER SECTION END ---- */

/* ---- Home/Work SECTION START ---- */
.home-title h1, .about-title h1 {
    font-size: var(--h1-font-size);
    font-family: "HelveticaNeue-Regular", sans-serif;
    padding: 100px 50px 25px 50px;
    font-weight: normal;
}

.about-title h1 {
    padding: 100px 50px 0px 50px;
}

.home-title h1 span {
    font-family: var(--h1-highlight-font); 
    font-style: italic;
}

.filter-tabs {
    position: relative;
    width: 100%;
    padding-left: 50px;
    margin: 10px 25px -25px 0px;

    display: flex;
    align-items: center;
}

.filter-tabs button {
    background: none;
    border: none;
    padding: 15px 8px;
    cursor: pointer;

    font-family: var(--nav-btn-font); 
    font-size: var(--nav-font-size);
}

.filter-tabs button.active {
    background: none;
    border: none;
    color: var(--color-accent);
}

.filter-tabs button:hover {
    background: none;
    /* opacity: 60%; */
    color: var(--color-accent);
    border: none;
    transition: 0.25s;
}

.filter-tabs p {
    font-family: var(--nav-btn-font);
    font-size: var(--nav-font-size);
}

.cards {
    padding: 10px 50px 25px 50px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.card {
    opacity: 75%;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 40px;
}

.hidden {
    display: none;
}

.card img {
    max-width: 50%;
    max-height: auto;
    object-fit: cover;
    margin-right: 105px;
}

.card-body {
    padding: 20px 20px 20px 0px;
    display: flex;
    flex-direction: column;
}

.card-body .card-title {
    font-size: var(--h2-font-size);
    font-weight: normal;
    margin-bottom: 5px;
    width: 100%;
    color: var(--color-text);
}

.card-body .card-role {
    font-weight: normal;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
    color: var(--color-text);
}

.card-body .card-text {
    font-weight: 300;
    width: 70%;
    margin-bottom: 10px;
    color: var(--color-text);
}

.card:hover {
    opacity: 100%;
    transition: 0.25s;
}

/* .card img:hover {
    transform:scale(1.03);
    transition: 0.25s;
} */

@media (max-width: 650px) {
    .home-title h1, .about-title h1 {
        font-size: 20px;
    }
}
/* ---- HOME/WORK SECTION END ---- */

/* ---- &MORE SECTION START ---- */
.more-text p {
    font-size: 12;
    font-weight: 300;
    padding: 80px 50px 0px 50px;
}

.more-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px 0; /* change space betw text + image grid */
    margin: 0px 38px; /* change margin of image grid */
}
.more-images .image-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.more-images .column {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 10px;
}

.more-images .column img {
    width: 100%;
    padding-bottom: 10px;
}
/* ---- &MORE SECTION END ---- */

/* ---- About SECTION END ---- */
.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-bio {
    padding: 20px 50px 0px 50px;
    width: 95%;
    font-size: 16px;
    font-weight: 300; /*! set font weight as global var and change for paragraphs */
    float: left;
}

.bio-1, .bio-2, .bio-3, .bio-4 {
    margin-bottom: 15px;
}

.bio-1 span, .bio-2 span, .bio-3 span, .bio-4 span {
    font-weight: 525; /*! set font weight as global var and change for bold */
}

.bio-2 span a, .bio-3 span a, .bio-4 span a {
    color: black;
    text-decoration: underline;
}

.about-pfp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
    margin-right: 160px;
    float: right;
}

.about-pfp img {
    width: 120%;
    margin-bottom: 15px;
}

.about-pfp .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 200px;
}

.about-pfp .links a {
    font-weight: 300;
    color: black;
    text-decoration: underline;
}

.about-pfp .links a:hover, .bio-2 span a:hover, 
.bio-3 span a:hover, .bio-4 span a:hover {
    color: var(--color-accent);
    text-decoration: none;
    transition: 0.25s;
}

.content p {
    padding-top: 90px;
    margin-left: 50px;
}

