/* css ref: https://youtu.be/oLgtucwjVII?feature=shared */

:root{
    --color-1: transparent;
    --color-2: white;
    --text-color: black;
    --accent-color: #F08000;
    --nav-font-size: 20px
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue";
}

nav {
    background: var(--color-2);
    height: 80px;
    width: 100%;
}

a.logo {
    color: var(--text-color);
    line-height: 80px;
    padding: 0 50px;
    font-size: var(--nav-font-size);
    /* font-weight: bold; */
    text-transform: uppercase;
}

nav ul {
    float: right;
    margin-right: 50px;
}

nav ul label {
    /* font-family: "Bodoni", serif; */
    font-family: "HelveticaNeue-Thin", sans-serif;
    font-size: var(--nav-font-size);
    display: none;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a {
    font-family: "HelveticaNeue-Thin", sans-serif;
    color: var(--text-color);
    padding: 0px;
    font-size: var(--nav-font-size);
}

a.active {
    color: var(--accent-color);
}

a:hover {
    color: var(--accent-color);
    transition: 0.5s;
}

.check-btn {
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 500px) {
    .check-btn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 30%;
        background: var(--color-2);
        top: -100%;
        left: 0;
        text-align: left;
        padding: 0 50px;
        transition: ease-out 0.75s;
    }
    nav ul label {
        display: none;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 0px;
    }
    /* nav ul li a {
        text-transform: uppercase;
    } */
    #check:checked ~ ul {
        top: 60px;
    }
}

.more-text p {
    padding: 0 50px;
}

.more-text hr {
    /* opacity: 50%; */
    margin: 10px 50px;
}

