/* 
css references:
- navbar/mobile-menu: https://youtu.be/oLgtucwjVII?feature=shared 
- image gallery: https://youtu.be/Trw_9lisYVY?feature=shared
*/

/* @import url("https://use.typekit.net/sxt3pwj.css"); */

:root{
    --color-nav: rgba(255,255,255,0.25);
    --color-nav-mobile: white;
    --color-text: black;
    --color-accent: #F08000;
    --color-datashop: #0969DA;
    --color-archive: #BC4E4E;
    --color-minexr: #FF8700;

    --nav-font-size: 20px;
    --h1-font-size: 55px;
    --h2-font-size: 45px;
    --h3-font-size: 35px;
    --p-port-font-size: 18px;
    --h1-port-font-size: 45px;
    --h3-port-font-size: 25px;
    --h4-port-font-size: 22px;

    --p-font-weight: 300;
    --bold-p-font-weight: 525;
    --subh-font-weight: 400;
    --h-font-weight: normal;

    --default-font: "HelveticaNeue-Regular", sans-serif;
    --nav-btn-font: "HelveticaNeue-Thin", sans-serif;
    --h1-highlight-font: "Times New Roman", serif;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: var(--default-font);
    display: flex;
    flex-direction: column;
}

/* ---- NAV BAR SECTION START ---- */
nav {
    background: var(--color-nav);
    /* backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px); */

    height: 80px;
    width: 100%;
    z-index: 2;
    position: fixed;
}

a.logo {
    color: var(--color-text);
    font-size: var(--nav-font-size);
    line-height: 80px;
    margin-left: 50px;
    text-transform: uppercase;
}

nav ul {
    opacity: 100%;
    float: right;
    margin-right: 50px;
}

nav ul label {
    display: none;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    font-family: var(--nav-btn-font);
    color: var(--color-text);
    font-size: var(--nav-font-size);
}

nav a.active {
    color: var(--color-accent);
}

nav a:hover {
    color: var(--color-accent);
    transition: 0.25s;
}

.check-btn {
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 650px) {
    .check-btn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 30%;
        background: var(--color-nav-mobile);
        top: -100%;
        left: 0;
        text-align: left;
        padding: 0 50px;
        transition: ease-out 0.5s;
    }
    nav ul label {
        display: none;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 0px;
    }
    #check:checked ~ ul {
        top: 60px;
    }
}
/* ---- NAV BAR SECTION ---- */

/* ---- FOOTER SECTION START ---- */
#about-footer {
    position: fixed;
}

#about-footer .footer-links a {
    color: white;
}

footer {
    margin: auto;
    height: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--color-nav);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-links {
    margin-left: 50px;
    line-height: 30px;
}

.footer-copyright {
    margin-right: 50px;
    line-height: 30px;
}

.footer-links a, .footer-copyright p {
    font-size: 15px;
    font-family: var(--nav-btn-font);
    color: var(--color-text);
}

.footer-links a {
    padding-right: 20px;
}

.footer-links a:hover {
    color: var(--color-accent);
    transition: 0.25s;
}

#work-nav {
    display: flex;
    justify-content: auto;
    padding: 40px;
}

#work-nav h3 {
    display: flex;
    flex-direction: row;
    font-weight: var(--h-font-weight);
    color: var(--color-text);
}

#work-nav span {
    display: block;
}

/* ! make mobile screen more responsive */
@media (max-width: 650px) {
    .footer-links a, .footer-copyright p {
        font-size: 8px;
    }
    .footer-links a {
        padding-right: 0px;
    }
}
/* ---- FOOTER SECTION END ---- */

/* ---- Home/Work SECTION START ---- */
.home-title h1, .about-title h1 {
    font-size: var(--h1-font-size);
    font-family: "HelveticaNeue-Regular", sans-serif;
    padding: 100px 50px 25px 50px;
    font-weight: var(--h-font-weight);
}

.about-title h1 {
    padding: 100px 50px 0px 50px;
}

.home-title h1 span {
    font-family: var(--h1-highlight-font); 
    font-style: italic;
}

.filter-tabs {
    position: relative;
    width: 100%;
    padding-left: 50px;
    margin: 10px 25px -25px 0px;

    display: flex;
    align-items: center;
    z-index: 1;
}

.filter-tabs button {
    background: none;
    border: none;
    padding: 15px 8px;
    cursor: pointer;

    font-family: var(--nav-btn-font); 
    font-size: var(--nav-font-size);
}

.filter-tabs button.active {
    background: none;
    border: none;
    color: var(--color-accent);
}

.filter-tabs button:hover {
    background: none;
    /* opacity: 60%; */
    color: var(--color-accent);
    border: none;
    transition: 0.25s;
}

.filter-tabs p {
    font-family: var(--nav-btn-font);
    font-size: var(--nav-font-size);
}

.cards {
    padding: 10px 50px 25px 50px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.card {
    opacity: 75%;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 40px;
}

.hidden {
    display: none;
}

.card img {
    max-width: 50%;
    max-height: auto;
    object-fit: cover;
    margin-right: 105px;
}

.card-body {
    padding: 20px 20px 20px 0px;
    display: flex;
    flex-direction: column;
}

.card-body .card-title {
    font-size: var(--h2-font-size);
    font-weight: var(--h-font-weight);
    margin-bottom: 5px;
    width: 100%;
    color: var(--color-text);
}

.card-body .card-role {
    font-weight: var(--h-font-weight);
    font-style: italic;
    font-weight: var(--subh-font-weight);
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
    color: var(--color-text);
}

.card-body .card-text {
    font-weight: var(--p-font-weight);
    width: 70%;
    margin-bottom: 10px;
    color: var(--color-text);
}

.card:hover {
    opacity: 100%;
    transition: 0.25s;
}

@media (max-width: 650px) {
    .home-title h1, .about-title h1 {
        font-size: 20px;
    }
}
/* ---- HOME/WORK SECTION END ---- */

/* ---- &MORE SECTION START ---- */
.more-text p {
    font-size: 12;
    font-weight: var(--p-font-weight);
    padding: 80px 50px 0px 50px;
}

.more-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px 0; /* change space betw text + image grid */
    margin: 0px 38px; /* change margin of image grid */
}
.more-images .image-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.more-images .column {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 10px;
}

.more-images .column img {
    width: 100%;
    padding-bottom: 10px;
}
/* ---- &MORE SECTION END ---- */

/* ---- About SECTION END ---- */
.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-bio {
    padding: 20px 50px 0px 50px;
    width: 95%;
    font-size: 16px;
    font-weight: var(--p-font-weight);
    float: left;
}

.bio-1, .bio-2, .bio-3, .bio-4 {
    margin-bottom: 15px;
}

.bio-1 span, .bio-2 span, .bio-3 span, .bio-4 span {
    font-weight: var(--bold-p-font-weight);
}

.bio-2 span a, .bio-3 span a, .bio-4 span a {
    color: var(--color-text);
    text-decoration: underline;
}

.about-pfp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
    margin-right: 160px;
    float: right;
}

.about-pfp img {
    width: 120%;
    margin-bottom: 15px;
}

.about-pfp .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 200px;
}

.about-pfp .links a {
    font-weight: var(--p-font-weight);
    color: var(--color-text);
    text-decoration: underline;
}

.about-pfp .links a:hover, .bio-2 span a:hover, 
.bio-3 span a:hover, .bio-4 span a:hover {
    color: var(--color-accent);
    text-decoration: none;
    transition: 0.25s;
}

.portfolio-heading h1 {
    padding-top: 90px;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: var(--h1-font-weight);
    font-size: var(--h1-port-font-size);
}

.portfolio-heading h1 a {
    color: var(--color-text);
    text-decoration: underline;
}

.portfolio-heading .heading-details {
    margin-left: 50px;
    margin-right: 200px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio-heading .heading-details p {
    font-weight: var(--p-font-weight);
    padding-top: 30px;
    font-size: var(--p-port-font-size);
}

.portfolio-heading img {
    padding-top: 30px;
    max-width: 100%;
}

.portfolio-heading .heading-details a {
    color: var(--color-text);
    text-decoration: underline;
}

.portfolio-heading figcaption {
    margin-left: 50px;
    font-weight: var(--p-font-weight);
}

.portfolio-heading figcaption a {
   font-style: italic;
   color: var(--color-text);
   
}

#plus .heading-details span {
    font-weight: var(--bold-p-font-weight);
    color: var(--color-datashop);
}

#plus .heading-details a:hover, #plus .heading-title h1 a:hover{
    color: var(--color-datashop);
    text-decoration: none;
    transition: 0.25s;
}

#datashop .heading-details span {
    font-weight: var(--bold-p-font-weight);
    color: var(--color-datashop);
}

#datashop .portfolio-header h1 a {
    color: var(--color-datashop);
    text-decoration: none;
    transition: 0.25s; 
}
#datashop .heading-details a:hover, #datashop .heading-title h1 a:hover, #datashop .section-content p a:hover{
    color: var(--color-datashop);
    text-decoration: none;
    transition: 0.25s;
}

#minexr .heading-details span {
    font-weight: var(--bold-p-font-weight);
    color: var(--color-minexr);
}

#minexr .heading-details a:hover, #minexr .heading-title h1 a:hover, #minexr .section-content p a:hover {
    color: var(--color-minexr);
    text-decoration: none;
    transition: 0.25s;
}

#archive .heading-details span {
    font-weight: var(--bold-p-font-weight);
    color: var(--color-archive);
}

#archive .heading-details a:hover, #archive .heading-title h1 a:hover{
    color: var(--color-archive);
    text-decoration: none;
    transition: 0.25s;
}

.portfolio-section {
    margin-left: 75px;
    margin-right: 75px;

    padding-top: 35px;
    padding-bottom: 35px;
}

.portfolio-section .section-title h2 {
    font-weight: var(--h-font-weight);
    font-size: var(--h2-font-size);
}

.portfolio-section .section-content {
    padding-top: 15px;
    padding-right: 50px;
    margin-left: 50px;

    overflow: auto;
}

.section-content h3 {
    font-weight: var(--h-font-weight);
    font-size: var(--h3-port-font-size);
    padding-bottom: 5px;
    padding-top: 5px;
}

#datashop .section-content h3 {
    color: var(--color-datashop);
}

#minexr .section-content h3 {
    color: var(--color-minexr);
}

.portfolio-section .section-content p {
    font-size: var(--p-port-font-size);
    font-weight: var(--p-font-weight);
    padding-bottom: 15px;

}

.portfolio-section .section-content p a {
    color: var(--color-text);
    text-decoration: underline;
}

.portfolio-section .section-content p b {
    font-weight: var(--bold-p-font-weight);
    padding-bottom: 15px;
}

.portfolio-section .section-content h4 {
    font-weight: var(--h-font-weight);
    font-size: var(--h4-port-font-size);
}

.section-content img {
    padding-top: 5px;
    padding-bottom: 30px;
}

.split-left {
    overflow: auto;
}

.split-left img {
    width: 60%;
    float: right;
    /* padding-left: 15px; */
    /* padding-top: 15px; */
}

.split-left .text {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-right: 70px;
}

.split-right {
    background-color: white;
    overflow: auto;
}

.split-right img {
    width: 60%;
    float: left;
    padding-right: 70px;
}

.split-right .text {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.text-only {
    float: left;
    width: 50%;
}

.split-right .text p {
    margin-left: 25px;
    margin-right: 50px;
}

.list .text h3 {
    padding-bottom: 30px;
}
